<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shlokmantraapp">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShlokMantraApp">
        <activity android:name=".FinalChalisaActivity"></activity>
        <activity android:name=".FinalActivity" />
        <activity android:name=".ChalisaActivity" />
        <activity android:name=".DeityPlaceActivity" />
        <activity android:name=".ArtiActivity" />
        <activity android:name=".SetWallpaper2Activity" />
        <activity android:name=".RateUsActivity" />
        <activity android:name=".SetWallpaperActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShaniShlokActivity" />
        <activity android:name=".SantoshiActivity" />
        <activity android:name=".ShaniActivity" />
        <activity android:name=".OtherMantraActivity" />
        <activity android:name=".GoddessShlokActivity" />
        <activity
            android:name=".SignificanceActivity"
            android:parentActivityName=".ShlokActivity" />
        <activity
            android:name=".MeaningActivity"
            android:parentActivityName=".ShlokActivity" />
        <activity android:name=".ShlokActivity" />
        <activity android:name=".GayatriActivity" />
        <activity android:name=".SaraswatiActivity" />
        <activity android:name=".LakshmiActivity" />
        <activity android:name=".KaliActivity" />
        <activity android:name=".DurgaActivity" />
        <activity android:name=".VishnuActivity" />
        <activity android:name=".BramhaActivity" />
        <activity android:name=".KrishnaActivity" />
        <activity android:name=".RamaActivity" />
        <activity android:name=".HanumanActivity" />
        <activity android:name=".GaneshaActivity" />
        <activity android:name=".ShivaActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>