<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shlokmantraapp">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity android:name=".Songs.DevotionalSongActivity"></activity>
        <activity android:name=".Shlok.GodShlok.OtherMantra.NewMantraActivity" />
        <activity android:name=".Drawer.DarkModeActivity" />
        <activity android:name=".Chalisa.FinalChalisaActivity" />
        <activity android:name=".Arti.FinalActivity" />
        <activity android:name=".Chalisa.ChalisaActivity" />
        <activity android:name=".Drawer.DeityTemples.DeityPlaceActivity" />
        <activity android:name=".Arti.ArtiActivity" />
        <activity android:name=".Drawer.SetWallpaper.SetWallpaper2Activity" />
        <activity android:name=".Drawer.RateUsActivity" />
        <activity android:name=".Drawer.SetWallpaper.SetWallpaperActivity" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Shlok.GodShlok.ShaniMantra.ShaniShlokActivity" />
        <activity android:name=".Shlok.GoddessShlok.SantoshiMantra.SantoshiActivity" />
        <activity android:name=".Shlok.GodShlok.ShaniMantra.ShaniActivity" />
        <activity android:name=".Shlok.OtherMantra.OtherMantraActivity" />
        <activity android:name=".Shlok.GoddessShlok.GoddessShlokActivity" />
        <activity
            android:name=".Shlok.GodShlok.ShivaMantra.SignificanceActivity"
            android:parentActivityName=".Shlok.GodShlok.ShivaMantra.ShlokActivity" />
        <activity
            android:name=".Shlok.GodShlok.ShivaMantra.MeaningActivity"
            android:parentActivityName=".Shlok.GodShlok.ShivaMantra.ShlokActivity" />
        <activity android:name=".Shlok.GodShlok.ShivaMantra.ShlokActivity" />
        <activity android:name=".Shlok.GoddessShlok.GayatriMantra.GayatriActivity" />
        <activity android:name=".Shlok.GoddessShlok.SaraswatiMantra.SaraswatiActivity" />
        <activity android:name=".Shlok.GoddessShlok.LakshmiMantra.LakshmiActivity" />
        <activity android:name=".Shlok.GoddessShlok.KaliMantra.KaliActivity" />
        <activity android:name=".Shlok.GoddessShlok.DurgaMantra.DurgaActivity" />
        <activity android:name=".Shlok.GodShlok.VishnuMantra.VishnuActivity" />
        <activity android:name=".Shlok.GodShlok.BramhaMantra.BramhaActivity" />
        <activity android:name=".Shlok.GodShlok.KrishnaMantra.KrishnaActivity" />
        <activity android:name=".Shlok.GodShlok.RamaMantra.RamaActivity" />
        <activity android:name=".Shlok.GodShlok.HanumanMantra.HanumanActivity" />
        <activity android:name=".Shlok.GodShlok.GaneshaMantra.GaneshaActivity" />
        <activity android:name=".Shlok.GodShlok.ShivaMantra.ShivaActivity" />
        <activity android:name=".Shlok.MainActivity2" />
        <activity android:name=".Shlok.MainActivity" />
    </application>

</manifest>